@import "tf2build.ttf";
@import "TF2secondary.ttf";

html,
body {
  height: 100%;
  width: 100%;
  /* background-color: #5e5e5e; */
  background: url('../images/wallpaper_8.jpg') no-repeat center center fixed; /* Best: 6 8 11-16 21 28 */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

img .bg {
    /* The image used */
    background-image: url(images/wallpaper_one.jpg);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

.app-logo {
    height: 35px;
    width: 35px;
    pointer-events: none;
    animation: app-logo-spin 5s linear infinite;
  }

.cornered {
    position: relative;
}

.app-logo-tr {
    top: 5px;
    right: 5px;
    height: 25px;
    width: 25px;
    pointer-events: none;
    animation: app-logo-spin-back 5s linear infinite;
    position: absolute;
}
.app-logo-tl {
    top: 5px;
    left: 5px;
    height: 25px;
    width: 25px;
    pointer-events: none;
    animation: app-logo-spin 5s linear infinite;
    position: absolute;
}
.app-logo-bl {
    bottom: 5px;
    left: 5px;
    height: 25px;
    width: 25px;
    pointer-events: none;
    animation: app-logo-spin-back 5s linear infinite;
    position: absolute;
}
.app-logo-br {
    bottom: 5px;
    right: 5px;
    height: 25px;
    width: 25px;
    pointer-events: none;
    animation: app-logo-spin 5s linear infinite;
    position: absolute;
}

.head-logo-tr {
    top: 5px;
    right: 5px;
    height: 25px;
    width: 25px;
    pointer-events: none;
    animation: app-logo-spin 5s linear infinite;
    position: absolute;
}
.head-logo-tl {
    top: 5px;
    left: 5px;
    height: 25px;
    width: 25px;
    pointer-events: none;
    animation: app-logo-spin-back 5s linear infinite;
    position: absolute;
}
.head-logo-bl {
    bottom: 5px;
    left: 5px;
    height: 25px;
    width: 25px;
    pointer-events: none;
    animation: app-logo-spin 5s linear infinite;
    position: absolute;
}
.head-logo-br {
    bottom: 5px;
    right: 5px;
    height: 25px;
    width: 25px;
    pointer-events: none;
    animation: app-logo-spin-back 5s linear infinite;
    position: absolute;
}
  
  @keyframes app-logo-spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
  } 

  @keyframes app-logo-spin-back {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(-360deg);
      }
  } 

#generatedWeaponAreaMobile {
  /* Ensure it takes the available space as needed */
  display: flex;
  justify-content: center;
  width: 100%;
}

#generatedWeaponAreaDesktop {
  /* Ensure it takes the available space as needed */
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/* @media (min-width: 1203px) {
    #generatedWeaponAreaDesktop {
      width: 300px;
    }
  } */

/* @media (max-width: 1190px) {
    #classIcon {
      display: none;
    }
  } */

#generateBtnMobile {
  /* width: 300px; */
    max-width: 100%;
    transition: all 0.3s ease;
}

#generateBtnDesktop {
  /* width: 300px; */
    max-width: 100%;
    transition: all 0.3s ease;
}


#weapon {
  margin-top: 0rem;
  background-color: #24201B;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px
}

#weaponImage {
  background-color: #3C362F;
  width: 120px;
  height: 120px;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

#weaponImage img {
  /* width: 100%; */
  height: 85%;
  margin: auto;
}

#weaponName {
  color: #FFD700;
  font-size: 18px;
  line-height: 16px;
  text-shadow: 2px 1px 1px #24201B;
  font-family: mySecondFont;
  font-weight: normal;
  margin-top: 1rem !important;
  margin-bottom: 0.4rem !important;
}

#weaponStats {
  color: #756B5E;
  font-family: TF2 Secondary, Verdana, Geneva, sans-serif;
  font-size: 15px
}

#weaponMandatoryStatsNeutral {
  line-height: 1.2em;
  font-size: 95%;
  width: 80%;
  margin: auto;
  color: #EBE2CA;
}

#weaponMandatoryStats {
  line-height: 1.2em;
  font-size: 95%;
  width: 80%;
  margin: auto;
  color: #EBE2CA;
}

#weaponPros {
  color: #99CCFF;
}

#weaponCons {
  color: #FF4040;
}

@font-face {
  font-family: myFirstFont;
  src: url(TF2secondary.ttf);
}

@font-face {
  font-family: mySecondFont;
  src: url(tf2build.ttf) format('truetype');
  ;
}

p {
  font-family: myFirstFont;
}

div {
  font-family: myFirstFont;
}

.card {
  background-color: #949494;
}

.bg-light {
  background-color: #949494 !important;
}

.form-select:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

